/* FOR HEAER-TITLE */
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
/* FONT FOR MENU */
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

/* FONT FOR PARA */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    color: var(--font-color);
    box-sizing: content-box;
    scroll-behavior: smooth;
}
:root{
    --font-dark-theme: #222;
    --font-light-theme: #eee ;
    
    --box-light-theme:  #82c4da;
    --box-dark-theme: #5492a6 ;

    --current-theme: var(--font-light-theme);
    --font-color: var(--font-dark-theme);

    --projectBox-theme: var(--box-light-theme);    

    --logo-font-family: 'Lavishly Yours',cursive;
    --h1-font-family: "Goldman",monospace;
    --h2-font-family: "Goldman",monospace;
    --h3-font-family: "Josefins",monospace;
    --para-font-family: "Salsa",cursive;
    --a-font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: var(--h2-font-family);
}
p{
    font-family: var(--para-font-family);
    font-size: large;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    width: 100vw;
    height: max-content;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #FFDEE9;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
}
body::-webkit-scrollbar-track{
    background-color: var(--current-theme);
    background-color: transparent;
}

/***************** HEADER ****************/
header{
    min-height: 60px;
    max-height: 100px;
    height: 10vh;
    margin: auto;
    width: calc(100% - 20px);
    padding: 0px 10px;
    overflow-y: visible;
    background-color: #162748;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    min-height: 50px;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-position: center;
}
#header-title-link{
    font-family: var(--logo-font-family);
    color: #fff;
    font-size: clamp(24px,3rem,36px);
    font-weight: 500;
    text-shadow: 2px 2px 10px black;
}
.menu{
    justify-content: space-between;
    column-gap: 1vw;
    border-radius: 10px;
    padding: 0px 5px;
}
.menu-li{
    padding: 15px;
    border-bottom: 1px solid transparent ;
}
.menu-li a{
    font-family: var(--a-font-family);
    position: relative;
    font-size: clamp(16px,1rem,20px);
    color: aliceblue;
    transition: text-decoration 0.3s ease-out;
}
.menu-li a:hover{
    text-shadow: 1px 1px 5px #aaa;
    transform: scale(1.01);
}
/*  themes and menu toggle style*/
#themegif{
    width: 50px;
    transition: transform 0.3s ease; 
    cursor: pointer;

}
#themegif:hover{
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 5px #777,-0.5px 0.5px 5px #777,0.5px -0.5px 5px #777,-0.5px -0.5px 5px #777;
}
.rotate360 {
    transform:  rotate(360deg);
}
#hamburger-box{
    width: auto;
    transition: transform 0.3s ease; 
}
#menugif{
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: sticky;
    right: 0;
    z-index: 22;
    mix-blend-mode: hard-light;
}
#hamburger-option-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.hamburger-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 5vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--current-theme);
    overflow-y: scroll;
}
.hamburger-option li{
    padding: 2px;
    margin: 8px auto;
}
.hamburger-option li a{
    display: inline-block;
    position: relative;
    text-align: center;
    color: burlywood;
    text-shadow: 2px 2px 2px var(--font-color);
    font-family: var(--a-font-family);
    font-size: clamp(46px,2rem,66px);
    letter-spacing: 2px;
    font-weight: 600;
    transition: text-decoration 1s ease-in-out;
}
.hamburger-option li a:hover{
    text-decoration: underline;
}
.hamburger-option-link::before, .menu-a-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: burlywood;
    transition: width 0.3s ease-in-out;
}
.hamburger-option-link:hover::before, .menu-a-link:hover::before{
    width: 100%;
}

.share-img{
    width: 35px;
    cursor: pointer;
    position: absolute;
    right: 2vw;
    bottom:-80vh;
    opacity: 0.4;
    border-radius: 50%;
    border: 2px solid black;
    padding: 2px;
}
.share-img:hover{
    opacity: 1;
    box-shadow: 0px 0px 20px orange;
}
/***************** MAIN ****************/
main{
    flex-direction: column;
}

main >section{
    width: 100%;
    min-height: 50vh;
    padding-inline: 5px;
    padding-top: 10vh;
    text-align: center;
}
main section h2{
    padding: 10px 5px;
    font-size: clamp(24px,2rem,30px);
}
main section >p{
    padding: 10px 5px;
    margin-bottom: 5px;
}
main >section:nth-child(odd){
    background-image: linear-gradient(0deg,#FFDEE9 29%, #B5FFFC 70%);
}
main >section:nth-child(even){
    background-image: linear-gradient(180deg,#FFDEE9 29%, #B5FFFC 70%);
}

/****************************************************************************************/
/******* HOME SECTION ****************/
#homepage-section{
    height: 80vh;
    justify-content: space-evenly;
    padding-top: 50px;
}

#intro{
    font-family: var(--h1-font-family);
    overflow: visible;
    width: 200px;
    height: 250px;
    padding-block: 100px;
    line-height: 2.8rem;
    white-space: wrap;
    text-overflow: ellipsis;
    position: relative;
}
#greetings {
    font-size: clamp(30px,3rem,48px);
    color: orange;
}
.name{
    font-size: 2rem;
    color: rgb(56, 142, 192);
}
.typed-animate-text {
    flex-direction: column;
}
#typed-animate, .developer-text{
    color: rgb(139, 58, 239);
    font-size: 2rem;
    font-size: clamp(30px,2rem,48px);
}
#typed-animate{
    text-wrap: nowrap;
    overflow-wrap: normal;
    text-overflow: clip;
}
 
#intro-img-box{
    object-fit: contain;
    position: relative;
}
.intro-blobs{
    background-color: #1e427e;
}
.intro-img{
    background-image: url(media/daspic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 40vw;
    min-width: 200px;
    max-width: 350px;
    height: 50vw;
    min-height: 250px;
    max-height: 400px;
    position: absolute;
    
    animation: morph 3s linear infinite;
    animation-delay: 400ms;
}
/* BLOBS FOR IMAGE */
.gooey{
    background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 40vw;
    min-width: 200px;
    max-width: 350px;
    height: 50vw;
    min-height: 250px;
    max-height: 400px;
    animation: morph 3s linear infinite; 
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
}
.gooey:before,
.gooey:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0; top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(120deg, rgba(0,67,255,.55) 0%, rgba(0,103,255,.89) 100%);
}
.gooey:before{
    animation: morph 3s linear infinite;
    opacity: .21;
    animation-duration: 1.5s;
}

@keyframes morph{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        opacity: .89;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

@keyframes fadeIn {
    100%{
        transform: scale(1.03);
        opacity: 0;
    }
}

/****************************************************************************************/
/******* PROJECTS SECTION ****************/
#projects-section{
    >p{
        margin-bottom: 15px;
    }
}
.explore-proj-link{
    color: #fff;
    margin: 5px;
    height: max-content;
    padding: 10px;
    font-family: var(--a-font-family);
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: cornflowerblue;
    transition: background-color 0.1s ease-in;
    border: none;
}
.explore-proj-link:hover{
    background-color: slateblue;
}
#projects-container{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    place-items: center;
    text-align: center;
}
.project-box{
    width: min-content;
    height: min-content;
    background-color: var(--projectBox-theme);
    background-color: #5c46aa57;
    border-radius: 8px;
    padding-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    row-gap: 10px;
    transition: box-shadow 0.1s ease-in;
}
.project-box:hover {
    box-shadow: 1px 1px 10px var(--font-color);
    *{
        filter: blur(0);
    }
    >img{
        transform: scale(1.02);
    }
}
.proj-img{
    width: 300px;
    height: 200px;
    transition: opacity 0.3s ease,transform 0.3s ease-in-out;
    filter: blur(3px);
}
.proj-title{
    padding: 5px 2px;
    font-size: 1.3rem;
    font-weight: 900;
    text-shadow: 0px 0px 1px var(--current-theme);
    font-family: var(--h3-font-family);
}
.proj-short-info{
    padding-inline: 2px;
}
.project-link{
    position: relative;
    font-size: 0.8rem;
    color: var(--font-color);
    font-weight: 600;
    padding: 5px 8px 5px 20px;
    border-radius: 20px;
    font-family: var(--a-font-family);
    background-color: var(--current-theme);
    filter: blur(2px);
    transition: opacity 0.2s ease-in-out;
}
.project-link::before{
    content: '\2022';
    color: red;
    font-size: 2.5rem;
    top: -60%;
    left: -1%;
    margin: 0;
    position: absolute;
    padding: 0;
    animation: livebtnanim 1s ease-in 0s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes livebtnanim{
    0%,100%{
        transform: scale(1.0) translateX(0px);
        color: red;
    }
    20%{
        transform: scale(1.02) translateX(-3px);
        color: var(--current-theme);
    }
    50%{
        transform: scale(1.0) translateX(2px);
        color: red;
    }
    80%{
        transform: scale(1.03) translateX(-1px);
        color: var(--current-theme);
    }
}

/****************************************************************************************/
/******* ALL PROJECTS SECTION ****************/
.all-projects-section{
    padding: 20px 2px;
}
#all-projects-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
#all-projects-container .project-box:nth-child(odd){
    flex-direction: row;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D 50%, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#all-projects-container .project-box:nth-child(even){
    flex-direction: row-reverse;
    background: -webkit-linear-gradient(to left, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #514A9D 50%, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#all-projects-container .project-box{
    overflow: hidden;
    cursor: default;
    width: 900px;
    margin: 10px auto;
    padding: 0;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    img{
        width: 50%;
        height: max-content;
    }
    >div{
        padding: 2px 5px;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    >div h3{
        color:#000;
        font-weight: 600;
        text-shadow: 1px 1px 5px white;
    }
    >div p{
        color: #fff;
        font-weight: 200;
        text-shadow: 1px 0px 5px black;
    }
}
#all-projects-container .project-box :hover{
    >img{
        transform: scale(1.5);
    }
    
}

/****************************************************************************************/
/******* ABOUT SECTION ****************/
#aboutme-section{
    width: 100%;
}
.aboutus-box{
    flex-direction: row;
}
.aboutus-illus-img img{
    min-width: 100px;
    max-width: 350px;
    border-radius: 50%;
    padding: 2px;
    background-image: linear-gradient(120deg, #76e0ea 0%, #c14bf4 100%);
    animation: morph 5s linear infinite;
}
.aboutus-content{
    min-width: 100px;
    max-width: 700px;
    padding-inline: 10px;
    line-height: 1.5;
    font-size: clamp(20px,1.5rem,24px);
}
.aboutus-content span{
    color: #007dda;
    font-size: 1.5rem;
}
/****************************************************************************************/
/******* SKILLS SECTION ****************/
.skills-boxes{
    max-width: 1000px;
    margin: auto;
    margin-top: 5vh;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}
.all-skill-box{
    width: 300px;
    background-color: #5c46aa57;
    padding: 10px 5px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 3px;
}
.skills-category-head{
    font-size: clamp(20px,1.3rem,24px);
    margin-bottom: 3px;
    text-shadow: 0 0 5px var(--current-theme);
    color: var(--font-color);
    width: 100%;
    font-family: var(--h3-font-family);
}
.skill-span{
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    font-family: var(--para-font-family);
    font-size: clamp(16px,1rem,24px);
    color: #162748;
    background-color: #92a7ca91;
}
/****************************************************************************************/
/******* CONTACT SECTION ****************/
#contact-section{
    width: 100%;
    height: max-content;
}
.contact-1{
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-1 > img{
    max-width: 300px;
    min-width: 100px;
}
.contact-1 > img{
    animation: rotateAnimation 5s infinite ease-in-out;
}

@keyframes rotateAnimation {
    0%, 100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    30% {
        transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
    }
    70% {
        transform: rotateX(-4deg) rotateY(-2deg) rotateZ(-2deg);
    }
}
.contact-info {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: stretch;
    font-family: var(--para-font-family);
    font-size: clamp(16px,1.5rem,24px);
    a{
        justify-content: space-between;
        column-gap: 15px;
        transition: transform 2s ease-in-out;
    }
    a img{
        width: 45px;
        
    }
}
.contact-info a :hover{
    transform: scale(1.02);
    border-radius: 50%;
}
.social-box{
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2%;
    margin-top: 30px;
    p{
        width: 100%;
        font-size: clamp(16px,1.3rem,24px);
    }
    a{
        transition: transform 3s ease-in-out;
    }
    a :hover{
        box-shadow: 0px 0px 5px var(--font-color);
        transform: scale(1.02);
    }
    a img{
        width: 35px;
        border-radius: 10px;
        background-color: var(--font-light-theme);
    }
}




/***************** FOOTER ****************/
footer{
    width: 100%;
    height: 12vw;
    min-height: 100px;
    background-image: url(footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(2px 1px 10px #1e427e);
    padding-bottom: 5px;
    text-align: center;
    color: #ccc;
    font-size: 1rem;
    font-family: var(--para-font-family);
    overflow-y: visible;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/***************** MEDIA QUERIES ****************/
/***************** MEDIA QUERIES ****************/
/* Mobile View */ 
@media screen and (max-width:600px) {
    header{
        justify-content: space-around;
        column-gap: 30%;
    }
    .themeandmenu{
        justify-content: space-between;
        column-gap: 8%;
    }
    nav{
        display: none;
    }
    
    #homepage-section{
        flex-direction: column;
        text-align: center;
    }
    #intro{
        height: 160px;
        padding-block: 100px;
    }
    .intro-img , .gooey{
        width: 80vw;
        height: 80vw;
    }
    #projects-container, #all-projects-container{
        width: max-content;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
    .project-box{
        width: 98vw;
        >img{
            width: 100%;
            height: 300px;
        }
        *{        
            filter: blur(0);
        }
    }
    .aboutus-box{
        flex-direction: column;
    }
    .aboutus-illus-img img{
        max-width: 80vw;
    }
    .all-skill-box{
        width: 95vw;
        margin: auto;
    }
    #all-projects-container{
        width: 95%;
        margin: auto;
    }
    #all-projects-container .project-box:nth-child(odd){
        flex-direction: column;
    }
    #all-projects-container .project-box:nth-child(even){
        flex-direction: column;
    }
    #all-projects-container .project-box{
        width: 100%;
        margin: auto;
        padding: 0;
        img{
            width: 100%;
            height: 300px;
            height: min-content;
        }
        >div{
            width: 100%;
            flex-wrap: wrap;
            padding:20px 0;

        }
        >div *{
            flex-wrap: wrap;
        }
    }

}

/* Tablet View */
@media screen and (min-width:600px) and (max-width:992px) {
    header{
        justify-content: space-around;
        column-gap: 50vw;
    }
    #menugif{
        margin-left: 60%;
    }
    nav{
        display: none;
    }
    #projects-container, #all-projects-container{
        width: auto;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    .project-box{
        >img{
            width: 45vw;
            height: 28vw;
        }
        *{        
            filter: blur(0);
        }
    }
    .aboutus-box{
        flex-direction: column;
    }    
    .aboutus-illus-img img{
        max-width: 300px;
    }
    #all-projects-container .project-box{
        width: 99%;
        img{
            width: 50%;
        }
        >div{
            width: 50%;
            flex-wrap: wrap;
        }
    }
}

/* Desktop View */
@media screen and (min-width:992px) {
    header{
        justify-content: space-between;
    }
    #header-title-link{
        margin-left: 5vw;
    }
    #hamburger-box{
        display: none;
    }
    #themegif{
        width: 60px;
        margin-right: 20px;
    }
    #projects-container{
        max-width: 1400px;
    }

}